.DS_Store
Library
Library/*
*.csproj
*.sln
*.suo
*.unityproj
*.userprefs
Temp
*.pidb
Build
Synced Assets
targets
Assets/lib/InControl
Assets/lib/InControl/*
Assets/lib/UnityVS
Assets/lib/UnityVS/*
obj